@using ProjectManager.BLL.Entities
@using ProjectManager.COMMON.Repositories
@using ProjectManager.ASPMVC.Handlers

@inject IRepo_Employee<Employee> employeeService
@inject IRepo_Project<Project> projectService
@inject UserSessionManager userSession

@model IEnumerable<ProjectManager.ASPMVC.Models.Project.ListProject_VM>

@{
    ViewData["Title"] = "Index";
    Employee? connectedUser = null;
    Project currentProjet = projectService.Get(Model.ProjectId);
    IEnumerable<Employee> members = employeeService.Get_ByProjectId(currentProjet.ProjectId);
    int membresCount = members.Count() + 1;

    if (userSession != null)
    {
        connectedUser = employeeService.Get(userSession.EmployeeId.Value);
    }
}


<h1>Liste de vos Projets</h1>
@if(connectedUser.IsProjectManager == true)
{
    <p>
        <a class="btn btn-success" asp-action="Create">Ajouter un projet</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembersCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                
            </td>
            <td>
                <a class="btn btn-primary btn-sm px-3" asp-action="Details" asp-route-id="@item.ProjectId">Accéder</a>
            </td>
        </tr>
}
    </tbody>
</table>
